@charset "utf-8";

.pro-ele-main{
    overflow: hidden;
}
.product-details{
    width: 1226px;
    margin: 0 auto;
    height: 700px;
}
.product-details .product-details-l{
    /* height:700px ; */
    width: 510px;
    float: left;
    border: 1px solid #666;
    position: relative;
}
.product-details .product-details-l .bigImg{
    position: relative;
}
.product-details .product-details-l .bigImg img{
    width: 510px;
    height: 510px;
}
.product-details .product-details-l .smallImg-box{
    width: 510px;
    height: 100px;
    margin-top:50px ;
    position: absolute;
}
.product-details .product-details-l .smallImg-box .btn-left{
    float: left;
    width: 20px;
    height: 50px;
    text-align: center;
    background: url(../images/xiangqingye/pro-ditem-pre_03.jpg)no-repeat center;
    border: none;
    margin-top: 25px;
}
.product-details .product-details-l .smallImg-box .btn-right{
    float: right;
    width: 20px;
    height: 50px;
    text-align: center;
    background: url(../images/xiangqingye/pro-ditem-next_03.jpg)no-repeat center;
    border: none;
    margin-top: 25px;
}
.product-details .product-details-l .smallImg-box .box-li{
    float: left;
    margin-top: 8px;

}
.product-details .product-details-l .smallImg-box .box-li img{
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin:0 10px;
    border: 1px solid #666;
}
.product-details .product-details-l .smallImg-box .box-li .yangshi{
    border: 1px solid red;
}
.product-details .product-details-r{
    height: 700px;
    width: 650px; 
    float: right;
}
.product-details .product-details-r .details-title{
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
    margin-top: 60px;
}
.product-details .product-details-r .details-title button{
    margin-left: 200px;
}
.product-details .product-details-r .datails-price{
    color: red;
    margin-top: 22px ;
    padding-bottom: 68px;
    font-size: 20px;
    border-bottom: 1px solid #999;
    margin-bottom: 24px;
}
.product-details .product-details-r select{
    width: 100px;
    height: 30px;
    border: 1px solid #999;
}
.product-details .product-details-r .datails-location p{
    font-size: 16px;
    color: #000000;
    margin: 20px 0;
}
.product-details .product-details-r .datails-location{
    border-bottom: 1px solid #999;

}
.product-details .product-details-r .datails-num{
    padding-top: 30px;
}
.product-details .product-details-r .datails-num input{
    width: 80px;
    height: 40px;
    text-align: center;
}
.product-details .product-details-r .datails-num button{
    height: 40px;
    width: 40px;
    margin-bottom: 40px;
}
.product-details .product-details-r .datails-num .datails-move{
    width: 180px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    background: orange;
    text-align: center;
    cursor: pointer;
}

/* 隐藏盒子样式 */

.product-details .product-details-l #hidebox{
    width: 510px;
    height: 510px;
    position: absolute;
    top: 0;
    left: 520px;
    border: 1px solid #000;
    overflow: hidden;
}
.product-details .product-details-l #hidebox img{
    width: 1275px;
    height: 1275px;
    position: absolute;
	left: 0;
	top: 0;
}
.pro-ele-main .product-details-l #mask{
    width: 204px;
    height:204px;background:rgba(000, 000, 000, .3);
    position: absolute;
    top: 0;
    left: 0;
    cursor: move; 
    display: none;
}
