@charset "utf-8";

/* 轮播图 */
.swiper-container{
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.swiper-container .swiper-wrapper .swiper-slide{
    margin: 0 auto;
    position: relative;
    width: 1225px;
}
.swiper-container .swiper-wrapper .swiper-slide img{
    position: absolute;
    left: 50%;
    margin-left: -960px;
    cursor: pointer;
}


/* 轮播图下拉列表 */
#notice .notice_box .down_list{
    width: 226px;
    height: 500px;
    background-color: rgba(000, 000, 000,.4);
    position: absolute;
    z-index: 777;
    left:0;
    top: -540px;
}
#notice .notice_box .down_list li{
    height: 60px;
    width: 226px;
}
#notice .notice_box .down_list li a{
    height: 60px;
    display: block;
    color: #ffffff;
    line-height: 60px;
    width: 150px;
    padding-left: 76px;
}
#notice .notice_box .down_list li:hover{
    background: red;
}
#notice .notice_box .down_list li:nth-child(1) a{
    background: url(../images/inner-chiq-icon.png) no-repeat 30px center;
    margin-top: 10px;
}
#notice .notice_box .down_list li:nth-child(2) a{
    background: url(../images/inner-TV-icon.png) no-repeat 30px center;
}
#notice .notice_box .down_list li:nth-child(3) a{
    background: url(../images/inner-air-icon.png) no-repeat 30px center;
}
#notice .notice_box .down_list li:nth-child(4) a{
    background: url(../images/inner-icebox-icon.png) no-repeat 30px center;
}
#notice .notice_box .down_list li:nth-child(5) a{
    background: url(../images/inner-ele-icon.png) no-repeat 30px center;
}
#notice .notice_box .down_list li:nth-child(6) a{
    background: url(../images/inner-digital-icon.png) no-repeat 30px center;
}
#notice .notice_box .down_list li:nth-child(7) a{
    background: url(../images/inner-other-icon.png) no-repeat 30px center;
}
/* 右拉列表 */
#notice .notice_box .down_list .right_box{
    position: absolute;
    width: 400px;
    background: #fff;
    left: 226px;
    min-height: 500px;
    top: 0;
    padding: 0 40px;
    display: none;
}
#notice .notice_box .down_list .right_box .product_li{
    padding-bottom: 30px;
}
#notice .notice_box .down_list .right_box .product_li .product_li_img{
    display: block;
    height: 70px;
    border-bottom: 1px solid #eeeeee;
    font-size: 16px;
    color: #333333;
    line-height: 70px;
}
#notice .notice_box .down_list .right_box .product_li .product_li_img img{
    width: 60px;
    height: 60px;
    float: left;

}
#notice .notice_box .down_list .right_box .product_li .product_li_content a{
    font-size: 14px;
    color: #666666;
    padding: 0px 15px;
    border-left: 1px solid #e0e0e0;
}

/* 公告 */
#notice .notice-con{
    width:1225px;
    margin: 0 auto;
    min-height: 260px;
}
#notice .notice-con h3{
    height: 40px;
    line-height: 40px;
    color: #333333;
    background: url(../images/home-radio-icon_03.png) no-repeat 10px center;
    padding-left: 55px;
    font-size: 12px;
}
#notice .notice-con .notice_box{
    min-height: 220px;
    width: 100%;
    /* background: pink; */
    position: relative;
}
#notice .notice-con .notice_box .notice_l{
    width: 226px;
    float: left;

}
#notice .notice-con .notice_box .notice_l a{
    font-size: 12px;
    color: #fff;
    display: block;
    width: 112px;
    height:30px;
    float: left;
    text-align: center;
    padding-top: 50px;
}
#notice .notice-con .notice_box .notice_l a:nth-child(1){
    background:#585858 url(../images/W020190703557137731848.png) no-repeat 40px 15px;
}
#notice .notice-con .notice_box .notice_l a:nth-child(2){
    background:#585858 url(../images/W020190703359312238138.png) no-repeat 40px 15px;
}
#notice .notice-con .notice_box .notice_l a:nth-child(3){
    background:#585858 url(../images/P020160825753100487221.png) no-repeat 40px 15px;
}
#notice .notice-con .notice_box .notice_l a:nth-child(4){
    background:#585858 url(../images/W020170518332486424730.png) no-repeat 40px 15px;
}
#notice .notice_box .notice_r{
    float: left;
}
#notice .notice_box .notice_r a img{
    margin-left: 12px;
    float: left;
}


 /* 内容推荐区content  */

.content-con{
    width:1226px;
    margin: 0 auto;
}
.content-con .content_tv{
    width: 100%;
    padding-bottom: 45px;
}
.content-con .content_tv .content_top{
    width: 100%;
    height: 46px;
}
.content-con .content_tv .content_top h4{
    height: 26px;
    border-left: 4px solid #ca694e;
    font-size: 20px;
    line-height: 26px;
    float: left;
}
.content-con .content_tv .content_top h4 span{
    margin:0 46px 0 14px;
}
.content-con .content_tv .content_top h4 a{
    font-size: 12px;
    color: #ca694e;
}
.content-con .content_tv .content_top .content_link{
    float: right;
}
.content-con .content_tv .content_top .content_link a{
    font-size: 12px;
    color: #000;
    margin: 0 8px 0 25px ;
    line-height: 26px;
}
.content-con .content_tv .content_top .content_link a:hover{
    color: red;
}
.content-con .content_tv .content_bottom .b_l{
    float: left;
}
.content-con .content_tv .content_bottom .b_r{
    float: left;
}
.content-con .content_tv .content_bottom .b_r .b_r_box{
    margin:0px 0 10px 10px;
    /* width: 239px ; */
    height: 310px;
    background: #fff;
    position: relative;
    text-align: center;
}
.content-con .content_tv .content_bottom .b_r .b_r_box:hover{
    box-shadow: 0px 0px 5px 3px #e9e9e9;
}
.content-con .content_tv .content_bottom .b_r .b_r_box img{
    display: inline-block;
    text-align: center;
    /* margin-top: 20px; */
    /* width: 170px;
    height: 170; */
}
.content-con .content_tv .content_bottom .b_r .b_r_box .img_par{
    color: #000;
    font-size: 14px;

}
.content-con .content_tv .content_bottom .b_r .b_r_box p{
    font-size: 12px;
    color: #9999a5;
    line-height: 12px;
    margin: 14px 0;
}
.content-con .content_tv .content_bottom .b_r .b_r_box span{
    font-size: 16px;
    color: red;
}

