@charset "utf-8";

html,body{
    background: #f9f9f9;
}

/* 版心 */
.top-con,.nav-con{
    width:1225px;
    margin: 0 auto;
}

/* 头部区 */
#top{
    background:#333333;
}
.top-con{
    height: 35px;
}

/* top左 */
.top-con .top-left{
	overflow: hidden;
	height: 35px;
	float: left;
}
.top-con .top-left li a{
	display: block;
	height: 35px;
	width: 145px;
	text-align: center;
	color: #ffffff;
	font-size: 13px;
	line-height: 35px
}
.top-con .top-left li .cur{
	background: #555555;
}
.top-con .top-left li a:hover{
	background: #555555;
}
.top-con .top-left li{
    float: left;
    position: relative;
}
.top-con .top-left li:nth-child(4) img{
    position: absolute;
    right: 101px;
    top: 12px;
}

/* top右 */
.top-con .top-right{
    height: 35px;
    /* width: 514px; */
    float: left;
    margin-left: 64px;
    /* box-sizing: border-box; */
}
.top-con .top-right .login_box{
    float: left;
}
.top-con .top-right .login,.top-con .top-right .register{
    font-size: 12px;
    color: #ffffff;
    line-height: 35px;
    margin: 0 17px;
}
.top-right .login_box a:hover{
    color: red;
}
.top-con .top-right span{
    font-size: 12px;
    color: #ffffff;
}

.top-con .top-right ul{
    float: left;
    margin-left: 22px;
}
.top-con .top-right ul li{
    float: left;
    position: relative;
}
.top-con .top-right ul li>a{
    width: 110px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 12px;
    display: block;
    float: left;
    text-align: center;
}
.top-con .top-right ul li>img{
    position: absolute;
    top: 10px;
    left: 7px;
}
.top-con .top-right ul li>a:hover{
    background: #555555;
}
.top-con .top-right ul li:nth-child(1) .my_message{
    width: 220px;
    height: 220px;
    position: absolute;
    left: 0;
    top: 35px;
    padding: 15px 25px 0;
    box-sizing: border-box;
    display: none;
    background: #fff;
    z-index: 777;
}
.top-con .top-right ul li:nth-child(1) .my_message:hover{
    color: red;
}
.my_message .my_message_shang>img{
    float: left;
    margin-right: 14px;
}
.my_message .my_message_shang>a:hover{
    color: red;
}
.my_message .my_message_shang>a:nth-child(2){
    font-size: 18px;

}
.my_message .my_message_shang>a:nth-child(3){
    font-size: 12px;
    margin-top: 14px;
}

.ul_box .my_message>dl{
    font-size: 12px;
    color: #666666;
    display: block;
    width: 170px;
    /* height: 180px; */
    float: left;
}
.my_message>dl dt{
    float: left;
    width: 85px;
    line-height: 30px;
    font-size: 16px;

}
.my_message>dl dt a{
    color: #666666;
}
.my_message>dl dt a.pad_x{
    margin-right: 8px;
}
.my_message>dl dt a:hover{
    color: red;
}
.top-con .top-right ul li:nth-child(1):hover  .my_message{
    display: block;
}
.top-con .top-right ul li:nth-child(2) img{
    position: absolute;
    left: 0;
    top: 35px;
    display: none;
    z-index: 777;
}
.top-con .top-right ul li:nth-child(2):hover img{
    display: block;
}


.top-con .top-right ul li:nth-child(3) .cart_box{
    width: 250px;
    height: 70px;
    position: absolute;
    top: 35px;
    left: -140px;
    background: #fff;
    font-size: 16px;
    color: #666;
    text-align: center;
    line-height: 70px;
    display: none;
}
.top-con .top-right ul li:nth-child(3):hover .cart_box{
    display: block;
}



/* 导航nav */
#nav{
    background: #fff;
    position: relative;
    width: 100%;

}
.nav-con{
    height: 78px;
    /* background: coral; */
}
.nav-con h1{
    float: left;
}
.nav-con .nav_right{
    width: 948px;
    height: 100%;
    float: right;
    /* background: rosybrown; */
}
.nav-con .nav_right li{
    float: left;
}
.nav-con .nav_right li a{
    font-size: 16px;
    display: block;
    float: left;
    height: 78px;
    margin: 0 25px;
    color: #333333;
    line-height: 78px;
}
.nav-con .nav_right li:nth-child(1) a{
    color: red;
}
.nav-con .nav_right .search_box{
    float: left;
    width: 200px;
    height: 38px;
    border: 1px solid #e3e3e3;
    margin-top: 17px;  
}
.nav-con .nav_right .search{
    float: left;
    width: 150px;
    height: 38px;
    font-size: 16px;
    color: #a9a9a9;
    text-indent: 10px;
}
.nav-con .nav_right .btn{
    background: url(../images/home-serach-btn_05.png) no-repeat center;
    float: left;
    width: 50px;
    height: 38px;
}
.nav-con .nav_right li a:hover{
    color: red;
}


/* 链接 links */
#links{
    background: #efefef;
}
.links-con{
    width: 1226px;
    margin: 0 auto;
    height:340px ;
}
.links-con .links_top{
    width: 100%;
    height: 115px;
}
.links-con .links_top .about-CQ{
    float: left;
    margin-top: 38px;
}
.links-con .links_top .about-CQ .about-icon{
    float: left;
    margin-right: 15px;
    color: #333333;

}
.links-con .links_top .lf{
    margin-left: 25px;
}

.links-con .links_top .about-CQ .about-describe{
    float: left;
}
.links-con .links_top .about-CQ-center{
    margin-right: 325px;
    margin-left: 290px;
}
.links-con .links_top .about-CQ .about-describe p{
    color: #999999;
    font-size: 12px;
}
.links-con .links_top .about-CQ .about-describe{
    font-size: 18px;
}


.links-con .links_bottom{
    width: 100%; 
}
.links-con .links_bottom .b_l{
    width: 641px;
    float: left;
    height: 226px;
    padding-left: 66px;

}
.links-con .links_bottom .b_l ul{
    float: left;
    padding-top: 25px;
}
.links-con .links_bottom .b_l>ul:nth-child(2){
    margin: 0 90px 0 40px ;
}
.links-con .links_bottom .b_l ul:nth-child(3){
    margin-right: 38px;
}
.links-con .links_bottom .b_l>.bl1_box ul:nth-child(1){
    margin-right: 60px;
}
.links-con .links_bottom .b_l ul li{
    font-size: 16px;
    color: #000;
}
.links-con .links_bottom .b_l ul li a{
    color: #999;
    font-size: 12px;
    line-height: 30px;
}
.links-con .links_bottom .b_l .bl1_box{
    border-bottom: 1px solid #cccccc;
    width: 200px;
    height: 150px;
    float: left;
    position: relative;

}
.links-con .links_bottom .b_l a:hover{
    color: red;
}
.links-con .links_bottom .b_l p{
    position: absolute;
    right:0 ;
    bottom: -30px;
    font-size: 18px;
}
.links-con .links_bottom .b_l p a{
    color: #000;
}


.links-con .links_bottom .b_c{
    width: 200px;
    float: left;
    height: 200px;
    padding-top:26px;
    padding-left: 32px;
    line-height: 34px;
}
.links-con .links_bottom .b_c a{
    color: red;
    font-size: 14px;
    padding-left: 30px;
}
.links-con .links_bottom .b_c a:nth-child(1){
    background: url(../images/Customer-service_12.png) no-repeat left center;
}
.links-con .links_bottom .b_c a:nth-child(3){
    background: url(../images/feedback_17.png) no-repeat left center;
}
.links-con .links_bottom .b_c p{
    font-size: 18px;
    color: #000;
}
.links-con .links_bottom .b_r{
    width: 285px;
    float: left;
    /* background: blue; */
    height: 200px;
    padding-top: 26px;
}
.links-con .links_bottom .b_r div{
    width: 110px;
    font-size: 16px;
    text-align: center;
    float: left;
    position: relative;
    
}
.links-con .links_bottom .b_r div img{
    width: 108px;
    height: 108px;
    position: absolute;
}
.links-con .links_bottom .b_r div p{
    margin-top: 118px;
}
.links-con .links_bottom .b_r div:nth-child(1){
    margin: 0 20px;
}


/*  底部区域*/
#footer{
    background: #333333;
}
.footer-con{
    width: 1226px;
    height: 225px;
    margin: 0 auto;
    text-align: center;
    padding-top: 28px;
}
.footer-con .host_title{
    display: inline-block;
    padding-bottom: 20px;

} 
.footer-con p{
    font-size: 14px;
    color: #999999;
    line-height: 24px;

}
.footer-con ul{
    background: green;
    width: 100%;
    margin-top: 32px;
    
}
.footer-con ul li{
    float: left;
    color: #999999;
    padding-left: 36px;
    margin: 0 50px;
}
.footer-con ul li:nth-child(1){
    background: url(../images/wzba-icon_03.png) no-repeat left center;
}
.footer-con ul li:nth-child(2){
    background: url(../images/cxwz-icon_06.png) no-repeat left center;
}
.footer-con ul li:nth-child(3){
    background: url(../images/gsjgicon.gif) no-repeat left center;
    padding-left: 40px;

}
.footer-con ul li:nth-child(4){
    background: url(../images/wsjy-icon_06.png) no-repeat left center;
}
.footer-con ul li:nth-child(5){
    background: url(../images/kxr-icon_08.png) no-repeat left center;
}


 /* nav里面的下拉菜单 */

#nav .nav_down_box{
    width: 100%;
    height: 229px;
    position: absolute;
    top: 78px;
    background: #fff;
    border-top:1px solid #eeeeee;
    z-index: 7777;
    display: none;

}
#nav .nav_down_menu{
    height: 229px;
    width: 1226px;
    /* background: yellow; */
    margin: 0 auto;
    /* margin-top: -5px; */
    overflow: hidden;
}
#nav .nav_down_menu .nav_down_title{
    float: left;
    width: 175px;
    height: 100%;
    font-size: 16px;
    color: #666666;
    line-height: 229px;
    text-align: center;
}
.nav_down_menu .nav_down_box2{
    float: left;
}
#nav .nav_down_menu .nav_down_list{
    float: left;
    border-right:1px solid #eeeeee;
    width: 214px;
    height: 205;
    /* background: pink; */
    text-align: center;
    padding-top: 15px;
    /* display: none; */

}
#nav .nav_down_menu .nav_down_list img{
    display: inline-block;
    width: 135px;
    height: 135px;
}
#nav .nav_down_menu .nav_down_list p:nth-child(2){
    color: #000;
    font-size: 16px;
}
#nav .nav_down_menu .nav_down_list p:nth-child(3){
    color: red;
    font-size: 16px;
}


/* 一些页里面的当前位置区域 */
.pro-position{
    height: 47px;
    background: #f3f3f3;
    border-bottom: 1px solid #d7d7d7;
}
.com-width{
    width: 1226px;
    margin: 0 auto;
    /* overflow: hidden; */
}
.pro-position p{
    line-height: 47px;
    font-size: 14px;
    color: #000;
    margin-left: 9px;
}
.pro-position p a{
    line-height: 47px;
    font-size: 14px;
    color: #000;
}
