@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{
    margin:0;
    padding:0;
}
body{
    font-size:16px;
    font-family: "MicrosoftYaHei";
}
ul,li,ol{
    list-style:none;
}
em,i{
    font-style:normal;
}
b,strong{
    font-weight: normal;
}
a,u{
    text-decoration: none;
}
fieldset,input,img{
    border:0;
}
input{
    outline:none;
}
img{
    display:block;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size:16px;
}
textarea{
    resize:none;
}

/* 提前封装一些类 */
.float_l{
    float:left;
}
.float_r{
    float:right;
}
.border_none{
    border:none!important;
}
.bg_none{
    background:none!important;
}
.clear_fix:after{
    content:" ";
    clear:both;
    height:0;
    overflow:hidden;
    display:block;
    visibility: hidden;
}
.clear_fix{
    zoom:1;
}
/* 让单行文本省略号显示 */
.text_ellipsis{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
/* 让子元素在父元素里面左右上下居中 */
.dom_center{
    position: absolute;
    left:0;right:0;
    top:0;bottom:0;
    margin:auto;
}
/* 让元素在窗口左右上下居中 */
.dom_fixed{
    position: fixed;
    left:0;right:0;
    top:0;bottom:0;
    margin:auto;
}
